#headerContainer {
  height: 52px;
  background-color: #072652;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  width: 100vw;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  position: device-fixed;
}

#headerLogo {
  width: 156px;
  padding-right: 22px;
  border-right: 1px solid rgba(#ffffff, 0.3);
  margin-right: 22px;
}

.header_contentTitle {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.header_contentSubTitle {
  opacity: 0.8;
  font-family: Roboto;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

#sidebarContainer {
  border-radius: 8px;
  background-image: linear-gradient(to top, #4ab6ff, #1ba3ff);
  padding: 7px;
  display: flex;
  align-items: center;
}

#header_contentContainer {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 25px;
}

#sidebarContainer-disabled {
  display: flex;
  padding: 8px;
  display: flex;
  align-items: center;
  opacity: 0.8;
  border-radius: 8px;
  background-color: #5a769d;
}
