$font: Roboto !important;
$paddingContent: 25px 8vw;

body {
  font-family: $font;
}

#search_headerContainer {
  display: flex;
  align-items: center;
}

#search_header {
  padding: $paddingContent;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#search_headerContentContainer {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  margin-right: 25px;
}

@media (max-width: 1075px) {
  #search_headerContentContainer {
    display: none;
  }
  .sidebarContainer {
    margin-right: 15px;
  }
}

#search_headerPostingBtn {
  border-radius: 5px;
  background-color: #16c172;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.search_titleTop {
  font-family: $font;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  margin-top: 63px !important;
}

.search_topContainer {
  background-image: url("../../dist/assets/searchBG.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 280px;
  width: 100vw;
  background-color: #ededed !important;
}

.search_topContainer.gradient {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0)
  ) !important;
}

.search_headerCornerText {
  opacity: 0.8;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#search_topDropdown {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background-color: #ffffff !important;
}

#search_topContainer {
  width: 100vw !important;
  display: flex;
  flex-direction: column;
  padding: 0 20vw;
}

#search_gridInputTop {
  display: flex;
  align-items: center;
}

.search_cariBtn {
  height: 100% !important;
  padding: 14px !important;
  object-fit: contain;
  border-radius: 5px;
  background-image: linear-gradient(to top, #4ab6ff, #1ba3ff) !important;
  font-family: Roboto !important;
  font-weight: 500 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: normal !important;
  letter-spacing: normal !important;
  color: #ffffff !important;
}

#search_inputTop {
  padding-right: 0 !important;
}

@media (max-width: 1050px) {
  #search_topContainer {
    padding: 5vw;
  }
}

@media (max-width: 767px) {
  .search_cariBtn {
    padding: 10px 0 !important;
  }
  #search_cariBtnContainer {
    padding-top: 0 !important;
    padding-right: 0 !important;
  }
  .search_titleTop {
    text-align: center;
  }
  #search_topContainer {
    padding: 0;
  }
  .search_titleTop {
    margin-top: 20px !important;
  }
  #search_gridInputTop {
    padding-right: 14px;
  }
}

@media (max-width: 720px) {
  #search_topContainer {
    margin: 0 !important;
  }
}
