$paddingContent: 25px 8vw;

#search_footerContainer {
  background-color: #d8d8d8;
}

#search_footerContent {
  background-image: url("../../dist/assets/searchFooter.jpg");
  background-position: center;
  background-size: cover;
  padding: $paddingContent;
  margin-top: 50px;
  padding-right: 55vw;
}

#search_footerTopTitle {
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffff;
}

#search_footerTopSubtitle {
  opacity: 0.8;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.search_footerPoin {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 12px;
}

#search_footerBtnDaftar {
  border-radius: 5px;
  background-color: #16c172 !important;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500 !important;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.search_footerPoinContainer {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

#search_footerContainerPoints {
  margin-top: 20px;
  margin-bottom: 40px;
}

#search_footerContentBottom {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $paddingContent;
}

#search_footerBtmLeft {
  display: flex;
  align-items: center;
}

#search_footerCredit {
  opacity: 0.5;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.search_footerBtmItem {
  padding-right: 2vw;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #777777;
}
